body{
    background-image: url(https://img.freepik.com/free-photo/top-view-raspberry-flavor-ice-cream_23-2148268208.jpg);
    background-repeat: no-repeat;
    background-size: 100% 40.4%;
}
#div0{
    text-align: center;
}
#div0>img{
    width: 16%;
    margin-top: 20px;
}
#menu1{
    text-align: center;
}
#menu1>a{
    padding-right: 20px;
    background-color:  rgba(21, 255, 0, 0.247);
    padding: 0.4rem 0.7rem;
    margin: 0.1rem 0.2rem;
}
h1{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}